@media (min-width: 994px) {
  img {
    width: 250px;
    height: 250px;
  }
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 90%;
  }
}
@media (max-width: 992px) {
  img {
    width: 165px;
    height: 165px;
  }
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 576px) {
  img {
    width: 100px;
    height: 100px;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
main {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

