@media (max-width: 992px) {
  img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 576px) {
  img {
    width: 100px;
    height: 100px;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
}

